@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,100&display=swap');

body {
  background-color: #3C78D8;
  color: white;
  font-size: 3em;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding-top: 200px;
  font-weight: 700;
}

.tagline {
  font-size: 0.5em;
  font-weight: 100;
  font-style: italic;
}

a {
  color: white;
  font-weight: 400;
  font-size: 0.75em;
  text-decoration: none;
}

.contact {
  padding-top: 100px;
}

footer {
  padding: 5px;
  font-size: 0.25em;
  position: absolute;
  bottom: 0;
}
